
HOST=0.0.0.0
APP_KEYS=toBeModified1,toBeModified2
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified
NODE_ENV=production

DATABASE_CLIENT=postgres
DATABASE_HOST=dpg-d41ldu7gi27c739l16kg-a
DATABASE_PORT=5432
DATABASE_NAME=blog_dgfh
DATABASE_USERNAME=blog
DATABASE_PASSWORD=macznJ9ogKH0Du6KiVcLO4BFWqUIAyqy
DATABASE_SSL=true
